ipython==8.12.3
librosa==0.10.2.post1
matplotlib==3.7.3
moviepy==1.0.3
numba==0.59.1
pandas==2.2.3
praat-parselmouth==0.4.3
pesq==0.0.4
pypesq==1.2.4
pystoi==0.4.1
scipy==1.14.1
soundfile==0.12.1
torch==2.3.1
torchaudio==2.3.1
